body{
    text-align: center;
    
}

header{
    margin-top: 10px;
    margin-bottom: 20px;

}

.memes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px;
    justify-content: center;
}

iframe{
    margin: 10px;
}

img{
    margin: 10px;
}