body{
    
    margin: auto;
    max-width: 900px;
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

div{
    
    float: left;
    flex-direction: column;
}

p{
    margin: 30px;
    font-size: 20px;
}

img{
    margin: 10px;
    object-fit: cover;
}

li{
    margin: 5px;
    list-style: none;
    font-size: 30px;
}
.list{
    margin: 5px;
    font-size: 45px;
}